html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body
{
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 14px;
    color: #333;
}

.fairy-step
{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.fairy-step.current
{
    opacity: 1 !important;
}
.fairy-step.show
{
    opacity: .3;
}

.front
{
    width: 400px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    height: 48px;
    -webkit-transform: translate3d(0,0,2000px);
    -moz-transform: translate3d(0,0,2000px);
    -ms-transform: translate3d(0,0,2000px);
    -o-transform: translate3d(0,0,2000px);
    transform: translate3d(0,0,2000px);
}

.front1 { top: 0px; }
.front2 { top: 100px; }
.front3 { top: 200px; }
.front4 { top: 300px; }
.front5 { top: 400px; }

.board
{
    width: 900px;
    height: 700px;
    padding: 100px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 50px;
    letter-spacing: -1px;
    box-sizing: border-box;
    top: 0px;
}

.board1 { left: -1000px;}
.board2 { left: 0px;}
.board3 { left: 1000px;}

.logo
{
    color: rgb(143, 199, 76);
}

.text1
{
    top: 1500px;
    width: 900px;
    height: 240px;
    -webkit-transform: translate3d(0px,0,2000px) scale(2);
    -moz-transform: translate3d(0px,0,2000px) scale(2);
    -ms-transform: translate3d(0px,0,2000px) scale(2);
    -o-transform: translate3d(0px,0,2000px) scale(2);
    transform: translate3d(0px,0,2000px) scale(2);
}
.text1 span
{
    font-size: 30px;
    line-height: 40px;
}
.text1 span.logo
{
    font-size: 100px;
    line-height: 160px;
}

.text2
{
    top: 1720px;
    left: 50px;
    width: 700px;
    height: 240px;
    -webkit-transform: translate3d(0px,0,2000px) rotateZ(90deg);
    -moz-transform: translate3d(0px,0,2000px) rotateZ(90deg);
    -ms-transform: translate3d(0px,0,2000px) rotateZ(90deg);
    -o-transform: translate3d(0px,0,2000px) rotateZ(90deg);
    transform: translate3d(0px,0,2000px) rotateZ(90deg);
    font-size: 30px;
    padding: 20px;
    background: rgba(255,255,255,.3);
}

.text3
{
    top: 1740px;
    width: 300px;
    height: 240px;
    -webkit-transform: translate3d(0px,0,2000px) rotateZ(180deg);
    -moz-transform: translate3d(0px,0,2000px) rotateZ(180deg);
    -ms-transform: translate3d(0px,0,2000px) rotateZ(180deg);
    -o-transform: translate3d(0px,0,2000px) rotateZ(180deg);
    transform: translate3d(0px,0,2000px) rotateZ(180deg);
    font-size: 30px;
}

.text4
{
    top: 1720px;
    left: 700px;
    width: 600px;
    height: 350px;
    -webkit-transform: translate3d(0px,0,3000px) rotateZ(90deg);
    -moz-transform: translate3d(0px,0,3000px) rotateZ(90deg);
    -ms-transform: translate3d(0px,0,3000px) rotateZ(90deg);
    -o-transform: translate3d(0px,0,3000px) rotateZ(90deg);
    transform: translate3d(0px,0,3000px) rotateZ(90deg);
    text-align: center;
    font-size: 40px;
}
.text4 span
{
    font-size: 150px;
}

.text5
{
    top: 1720px;
    left: 700px;
    width: 600px;
    height: 350px;
    -webkit-transform: translate3d(0px,0,-3000px) rotateZ(270deg);
    -moz-transform: translate3d(0px,0,-3000px) rotateZ(270deg);
    -ms-transform: translate3d(0px,0,-3000px) rotateZ(270deg);
    -o-transform: translate3d(0px,0,-3000px) rotateZ(270deg);
    transform: translate3d(0px,0,-3000px) rotateZ(270deg);
    text-align: center;
    font-size: 30px;
}

.text6
{
    top: 1420px;
    left: 1800px;
    width: 800px;
    height: 600px;
    -webkit-transform: translate3d(0px,0,1000px);
    -moz-transform: translate3d(0px,0,1000px);
    -ms-transform: translate3d(0px,0,1000px);
    -o-transform: translate3d(0px,0,1000px);
    transform: translate3d(0px,0,1000px);
    font-size: 80px;
    line-height: 120px;
}
.text6 b
{
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.text6.trans-finish .position
{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.text6.trans-finish .rotate
{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.text6.trans-finish .scale
{
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.text7
{
    top: 2220px;
    left: 1700px;
    width: 400px;
    height: 100px;
    -webkit-transform: translate3d(0px,0,1000px) rotateZ(-90deg);
    -moz-transform: translate3d(0px,0,1000px) rotateZ(-90deg);
    -ms-transform: translate3d(0px,0,1000px) rotateZ(-90deg);
    -o-transform: translate3d(0px,0,1000px) rotateZ(-90deg);
    transform: translate3d(0px,0,1000px) rotateZ(-90deg);
    font-size: 40px;
    line-height: 100px;
}
.text8
{
    top: 2220px;
    left: 2000px;
    width: 400px;
    height: 200px;
    -webkit-transform: translate3d(0px,0,1000px) rotateX(40deg) rotateY(50deg) rotateZ(-90deg);
    -moz-transform: translate3d(0px,0,1000px) rotateX(40deg) rotateY(50deg) rotateZ(-90deg);
    -ms-transform: translate3d(0px,0,1000px) rotateX(40deg) rotateY(50deg) rotateZ(-90deg);
    -o-transform: translate3d(0px,0,1000px) rotateX(40deg) rotateY(50deg) rotateZ(-90deg);
    transform: translate3d(0px,0,1000px) rotateX(40deg) rotateY(50deg) rotateZ(-90deg);
    font-size: 40px;
    line-height: 100px;   
}
.text8 span
{
    display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform: translateZ(40px);
    -ms-transform: translateZ(40px);
    -o-transform: translateZ(40px);
    transform: translateZ(40px);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.text8.trans-finish span
{
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}
.text8 .z1
{
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
    transform: translateZ(20px);
}
.text8 .z2
{
    -webkit-transform: translateZ(-20px);
    -moz-transform: translateZ(-20px);
    -ms-transform: translateZ(-20px);
    -o-transform: translateZ(-20px);
    transform: translateZ(-20px);
}
.text8 .z3
{
    -webkit-transform: translateZ(40px);
    -moz-transform: translateZ(40px);
    -ms-transform: translateZ(40px);
    -o-transform: translateZ(40px);
    transform: translateZ(40px);
}
.text8 .z4
{
    -webkit-transform: translateZ(-10px);
    -moz-transform: translateZ(-10px);
    -ms-transform: translateZ(-10px);
    -o-transform: translateZ(-10px);
    transform: translateZ(-10px);
}

#overview
{
    top: 1720px;
    left: 700px;
    width: 600px;
    height: 350px;
    transform: translate3d(0px,0,3000px) rotateZ(90deg);
    text-align: center;
    display: table;
}
#overview>div
{
    display: table-cell;
    vertical-align: middle;
}
#overview .logo
{
    font-size: 100px;
}
#overview button
{
    background: rgba(0,0,0,0);
    border: #ddd solid 1px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    margin-top: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#overview button:hover
{
    background: rgb(143, 199, 76);
    color: #fff;
}

/*
* example
*/
/*.board1
{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 100px;
    background: lightblue;
}

.board2
{
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 1000px;
    background: lightpink;
}

.board3
{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 606px;
    left: 946px;
    background: lightgreen;
}

.board4
{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 760px;
    left: 409px;
    background: lightcyan;
    transform: translate3d(0px,0,-2000px) rotateX(-40deg) rotateY(10deg) rotateZ(0deg);
}*/

