html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.board1
{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 100px;
    background: lightblue;
}

.board2
{
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 1000px;
    background: lightpink;
}

.board3
{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 606px;
    left: 946px;
    background: lightgreen;
}

.board4
{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 760px;
    left: 409px;
    background: lightcyan;
    transform: translate3d(0px,0,-2000px) rotateX(-40deg) rotateY(10deg) rotateZ(0deg);
}

/*
* some style
*/
.fairy-step
{
    opacity: .3;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.fairy-step.current
{
    opacity: 1;
}
